################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/DifyApiClient.Samples/obj
/.vs/DifyApiClient
/samples/DifyApiClient.Samples/bin/Debug/net9.0
/src/DifyApiClient/bin/Debug/net9.0
/src/DifyApiClient/obj
/tests/DifyApiClient.Tests/bin/Debug/net9.0
/tests/DifyApiClient.Tests/obj
.vs/**

# NuGet packages
nupkg/
*.nupkg
*.snupkg
src/DifyApiClient/bin/**
samples/DifyApiClient.Samples/bin/**
tests/DifyApiClient.Tests/bin/**
